sudo: false
language: python
cache: pip

install:
    - pip install -r requirements.txt

script:
    - make html

after_success:
    - '[[ "$TRAVIS_PULL_REQUEST" = "false" ]] && rsync -av build/html/ travis@202.141.176.110::help/'
